body {
    background-color: linen;
}

.custom-container{
    width: 100%;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

.title{
    padding: 20px;
}