<html>
<head>
    <title>ReactJS - Event CMS</title>
    <link rel="stylesheet" href="/custom-styles.css">
    <script src="/node_modules/react/dist/react.min.js"></script>
    <script src="/node_modules/react-dom/dist/react-dom.min.js"></script>
    <script src="/node_modules/react/dist/JSXTransformer.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
<div class="custom-container">
    <div class="page-header">
        <h1 class="title">ReactJS - Event CMS</h1>
    </div>
    <div id="eventCMSApp"></div>
</div>
<script type="text/jsx">
    /** @jsx React.DOM */
    var EventCMSApp = React.createClass({
        getInitialState: function () {
            return {eventlist: this.props.events};
        },
        handleNewRowSubmit: function (newevent) {
            return fetch('/eventlist/', {
                method: 'POST',
                headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
                body: JSON.stringify({
                    id: newevent.id,
                    event_title: newevent.event_title,
                    start_date: newevent.start_date,
                    end_date: newevent.end_date,
                    category: newevent.category,
                    description: newevent.description,
                    featured: true
                })
            })
                    .then((response) => response.json())
                    .then((responseJson) => {
                        console.log(responseJson);
                        console.log(newevent)
                        newevent.id = responseJson.data[0].id;
                        newevent.created_at = responseJson.data[0].created_at;
                        this.setState({eventlist: this.state.eventlist.concat([newevent])});
                    })
                    .catch((error) => {
                        console.error(error);
                    });
        },
        handleEventRemove: function (event) {
            console.log(event);
            return fetch('/eventlist/' + event.id, {
                method: 'DELETE',
                headers: {'Accept': 'application/json', 'Content-Type': 'application/json'}
            })
                    .then((response) => response.json())
                    .then((responseJson) => {
                        var index = -1;
                        var clength = this.state.eventlist.length;
                        for (var i = 0; i < clength; i++) {
                            if (this.state.eventlist[i].event_title === event.event_title) {
                                index = i;
                                break;
                            }
                        }
                        this.state.eventlist.splice(index, 1);
                        this.setState({eventlist: this.state.eventlist});
                    })
                    .catch((error) => {
                        console.error(error);
                    });
        },
        handleEventEdit: function (event) {
            console.log(event);
            // temporary render target
            var temp = document.createElement("div");
            // render
            ReactDOM.render(<p>test</p>, temp);
            // grab the container
            var container = document.getElementById("custom-container");
            // and replace the child
            container.replaceChild(temp.querySelector("#well"), document.getElementById("well"));
        },
        render: function () {
            var tableStyle = {width: '100%'};
            var leftTdStyle = {width: '30%', padding: '20px', verticalAlign: 'top'};
            var rightTdStyle = {width: '80%', padding: '20px', verticalAlign: 'top'};
            return (
                    <table style={tableStyle}>
                        <tr>
                            <td style={leftTdStyle}>
                                <EventList clist={this.state.eventlist} onEventRemove={this.handleEventRemove}
                                           onEventUpdate={this.handleEventEdit}/>
                            </td>
                            <td style={rightTdStyle}>
                                <NewRow onRowSubmit={this.handleNewRowSubmit}/>
                            </td>
                        </tr>
                    </table>
            );
        }
    });

    var EventList = React.createClass({
        handleEventRemove: function (event) {
            this.props.onEventRemove(event);
        },
        handleEventEdit: function (event) {
            this.props.onEventUpdate(event);
        },
        render: function () {
            var events = [];
            var that = this; // TODO: Needs to find out why that = this made it work; Was getting error that onEventDelete is not undefined
            this.props.clist.forEach(function (event) {
                events.push(<Event event={event} onEventDelete={that.handleEventRemove}
                                   onEventEdit={that.handleEventEdit}/>);
            });
            return (
                    <div class="row">
                        <h3>Events:</h3>
                        <table className="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Event Title</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Featured</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                </tr>
                            </thead>
                            <tbody>{events}</tbody>
                        </table>
                    </div>
            );
        }
    });

    var Event = React.createClass({
        handleRemoveEvent: function () {
            this.props.onEventDelete(this.props.event);
            return false;
        },
        handleEditEvent: function () {
            this.props.onEventEdit(this.props.event);
            return false;
        },
        render: function () {
            return (
                    <tr>
                        <td>{this.props.event.id}</td>
                        <td>{this.props.event.event_title}</td>
                        <td>{this.props.event.start_date}</td>
                        <td>{this.props.event.end_date}</td>
                        <td>{this.props.event.category}</td>
                        <td>{this.props.event.description}</td>
                        <td>{this.props.event.featured}</td>
                        <td>{this.props.event.created_at}</td>
                        <td>{this.props.event.updated_at}</td>
                        <td>
                            <input type="button" className="btn btn-primary" value="Remove"
                                   onClick={this.handleRemoveEvent}/>
                        </td>
                        <td>
                            <input type="button" className="btn btn-primary" value="Edit"
                                   onClick={this.handleEditEvent}/>
                        </td>
                    </tr>
            );
        }
    });

    var NewRow = React.createClass({
        handleSubmit: function () {
            var id = '';
            var event_title = this.refs.event_title.getDOMNode().value;
            var start_date = this.refs.start_date.getDOMNode().value;
            var end_date = this.refs.end_date.getDOMNode().value;
            var category = this.refs.category.getDOMNode().value;
            var description = this.refs.description.getDOMNode().value;
            var featured = this.refs.featured.getDOMNode().value;
            var created_at = '';
            var updated_at = '';
            var newrow = {
                id: id,
                event_title: event_title,
                start_date: start_date,
                end_date: end_date,
                category: category,
                description: description,
                featured: featured,
                created_at: created_at,
                updated_at: updated_at
            };
            this.props.onRowSubmit(newrow);

            this.refs.event_title.getDOMNode().value = '';
            this.refs.start_date.getDOMNode().value = '';
            this.refs.end_date.getDOMNode().value = '';
            this.refs.category.getDOMNode().value = '';
            this.refs.description.getDOMNode().value = '';
            this.refs.featured.getDOMNode().value = false;
            return false;
        },
        render: function () {
            var inputStyle = {padding: '12px'}
            return (
                    <div className="well" id="well">
                        <h3>Add Event</h3>
                        <form onSubmit={this.handleSubmit}>
                            <div className="input-group input-group-lg" style={inputStyle}>
                                <input type="text" className="form-control col-md-8" placeholder="Event Title"
                                       ref="event_title"/>
                            </div>
                            <div className="input-group input-group-lg" style={inputStyle}>
                                <input type="text" className="form-control col-md-8" placeholder="Start Date"
                                       ref="start_date"/>
                            </div>
                            <div className="input-group input-group-lg" style={inputStyle}>
                                <input type="text" className="form-control col-md-8" placeholder="End Date"
                                       ref="end_date"/>
                            </div>
                            <div className="input-group input-group-lg" style={inputStyle}>
                                <input type="text" className="form-control col-md-8" placeholder="Category"
                                       ref="category"/>
                            </div>
                            <div className="input-group input-group-lg" style={inputStyle}>
                                <input type="text" className="form-control col-md-8" placeholder="Description"
                                       ref="description"/>
                            </div>
                            <div className="input-group input-group-lg" style={inputStyle}>
                                <input type="text" className="form-control col-md-8" placeholder="Featured"
                                       ref="featured"/>
                            </div>
                            <div className="input-group input-group-lg" style={inputStyle}>
                                <input type="submit" className="btn btn-primary" value="Add Event"/>
                            </div>
                        </form>
                    </div>
            );
        }
    });
    function getMoviesFromApiAsync() {
        return fetch('/eventlist')
                .then((response) => response.json())
                .then((responseJson) => {
                    var defEvents = responseJson;
                    React.renderComponent(<EventCMSApp events={defEvents}/>, document.getElementById("eventCMSApp"));
                })
                .catch((error) => {
                    console.error(error);
                });
    }
    getMoviesFromApiAsync();

</script>
</body>
</html>
