/* Native HTML Tags */
body{
    margin: 0;
    width: 100%;
}

/* Home page styles*/
.home-head{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    background-color: grey;
    font-size: 20pt;
    color: green;
}